style* { margin: 0 auto; font-family: sans-serif; }
@font-face {
	font-family: 'futura';
	src: url('../assets/fonts/futura/futura\ medium\ bt.ttf');
}
@font-face {
	font-family: 'social';
	src: url('../assets/fonts/socialtype/SocialType.ttf');
}

body { 
	margin: 0;
	padding:0; 
	background-color:black;
}

header {
	position: relative;
	border-bottom-style: solid;
	border-bottom-color:#494949;
	border-bottom-width: 1px;
}
.bg-img {
	background-image: url("../assets/images/bg/banner.jpg");
	padding-bottom: 30%;
	background-position: justify;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}
.container {
	position: absolute;
	bottom: 0;
	margin: 0px;
	width: auto;
	
}
.topnav {
	overflow: hidden;
	
}
.topnav a{
	float:  left;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px 10px;
	font-family: futura;
	font-size: 16px;
}
.topnav a:hover {
	color: red
}
header h1 {
	position: absolute;
	top: 0;
}
.player {
	text-align: center;
	padding:10px;
}
main {
	width: 100%;
	color:whitesmoke;
	box-sizing: border-box;
	font-family: futura;
}
main h1{
	padding: 10px;
	margin: 10px;
}
main h2{
	padding: 10px;
	margin: 10px;;
}
main h3{
	padding: 10px;
	margin: 10px;;
}
main p{
	padding: 5px;
	margin: 20px;
}
.show-tile p{
	background-color: rgba(138, 138, 138, 0.7);
	
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
.show-tile{
	background-image: url('../assets/images/bg/tilebg.jpg');
	background-blend-mode:exclusion;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	color: black
}
footer {
	
	background-color: black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	position: fixed;
	width: 100%;
	border-top-style: solid;
	border-top-color:#494949;
	border-top-width: 1px;
}

footer > p{
    margin: 0;
}
footer > a{
	color:whitesmoke;
	text-decoration: none;
    align-content: center;
	font-family: social;
	font-size: 40px;
}


@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}